@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
:root {
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Grey: hsl(216, 12%, 25%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
  --Orange: hsl(25, 97%, 53%);
}

body {
  font-family: 'Overpass', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--Very-Dark-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  background-color: var(--Dark-Blue);
  height: 400px;
  width: 400px;
  border-radius: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.icon,
.header,
.para,
.rating,
.butt {
  margin: 0px 20px 0px 20px;
}

.circle {
  background-color: var(--Grey);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Medium-Grey);
}

.not-active {
  cursor: pointer;
  background-color: var(--Grey);
}

.not-active:hover {
  background-color: var(--Orange);
  color: var(--White);
}

.active {
  cursor: pointer;
  background-color: var(--Medium-Grey);
  color: var(--White);
}

h2 {
  color: var(--White);
  font-weight: 700;
  margin: 0;
  padding: 0;
}

p {
  font-size: 15px;
  color: var(--Light-Grey);
  margin: 0;
  padding: 0;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.butt {
  background-color: var(--Orange);
  height: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--White);
  font-weight: 700;
}

.butt:hover {
  background-color: var(--White);
  color: var(--Orange);
}

@media screen and (max-width: 400px) {
  .App {
    height: 325px;
    width: 325px;
  }
}
